html,body,div,h2{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
body {
	margin:0;
	padding:0;
	background:url(../images/banner.jpg) no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	font-family: 'Muli', sans-serif;
}
.clear {
	clear:both;
}
.log .content1 h2 {
	font-size:40px;
	padding: 30px 0 0;
	color:#fff;
	font-weight: 300;
	font-family: 'Nunito', sans-serif;
	text-align:center;
}
.log .content2 h2 {
	font-size:40px;
	padding: 30px 0 0;
	color:#fff;
	font-weight: 300;
	font-family: 'Nunito', sans-serif;
	text-align:center;
}
.log {
	width:75%;
	margin:0 auto;
}
.content1 {
	width: 48%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.21);
    padding: 30px 0;
    float: left;
	border-radius: 0px;
	margin-top: 50px;
	margin-left: 250px;
}
.content1 input[type="text"] {
	padding:10px 40px 10px 10px;
	width:70%;
	border:1px solid #fff;
	color:#fff;
	text-align:left;
	outline:none;
	font-size:18px;
	background:no-repeat 440px 10px;
	margin-top:4%;
	font-weight: 300;
	font-family: 'Muli', sans-serif;
	/*-- W3Layouts --*/
	border-radius: 4px;
}
.content1 input[type="password"] {
	padding:10px 40px 10px 10px;
	width:70%;
	border:1px solid #fff;
	color:#fff;
	text-align:left;
	outline:none;
	font-size:18px;
	background:no-repeat 440px 10px;
	margin-top:6%;
	font-weight: 300;
	font-family: 'Muli', sans-serif;
	border-radius: 4px;
}
.button-row {
	width:100%;
	margin-top:5%;
	padding-bottom:40px;
}
.sign-in {
	padding:10px;
	background-color:#4C9A39;
	width:35%;
	border:none;
	cursor:pointer;
	color:#fff;
	font-weight: 300;
	font-family: 'Nunito', sans-serif;
	font-size:20px;
	margin-left:62px;
	float:left;
	text-transform:uppercase;
	border-radius:4px;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
.sign-in:hover {
	background-color:#376D29;
	color:#fff;
}
.reset {
	padding:10px;
	background-color:#c0392b;
	width:35%;
	border:none;
	/*-- AgileITS --*/
	cursor:pointer;
	color:#fff;
	font-size:20px;
	float:right;
	margin-right:62px;
	font-weight: 300;
	font-family: 'Nunito', sans-serif;
	text-transform:uppercase;
	border-radius:4px;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
.reset:hover {
	background-color:#791F16;
	color:#fff;	
}
.content2 {
	width:48%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.21);
    float:right;
	padding: 30px 0 70px;
	border-radius: 0px;
	margin-top: 100px;
	margin-right: 250px;
}
.content2 input[type="text"] {
	padding:10px 40px 10px 10px;
	width:70%;
	border:1px solid white;
	color:#fff; 
	text-align:left;
	outline:none;
	font-size:18px;
	background:no-repeat 440px 10px;
	margin-top:5%;
	font-weight: 300;
	font-family: 'Muli', sans-serif;
	border-radius: 4px;
}
.content2 input[type="tel"] {
	padding:10px 40px 10px 10px;
	width:70%;
	border:1px solid white;
	color:#fff; 
	text-align:left;
	outline:none;
	font-size:18px;
	background:no-repeat 440px 10px;
	margin-top:4%;
	font-weight: 300;
	font-family: 'Muli', sans-serif;
	border-radius: 4px;
}
.content2 input[type="email"] {
	padding:10px 40px 10px 10px;
	width:70%;
	border:1px solid white;
	color:#fff; 
	text-align:left;
	outline:none;
	font-size:18px;
	background:no-repeat 440px 10px;
	margin-top:4%;
	font-family: 'Muli', sans-serif;
	border-radius: 4px;
}
.content2 input[type="password"] {
	padding:10px 40px 10px 10px;
	width:70%;
	border:1px solid white;
	color:#fff;
	text-align:left;
	outline:none;
	font-size:18px;
	background:no-repeat 440px 10px;
	margin-top:4%;
	font-weight: 300;
	font-family: 'Muli', sans-serif;
	border-radius: 4px;
}
.register {
	padding:10px;
	background-color:#4C9A39;
	width:78%;
	border:none;
	cursor:pointer;
	color:#fff;
	font-weight: 300;
	font-family: 'Nunito', sans-serif;
	font-size:20px;
	margin-top:7%;
	text-transform:uppercase;
	border-radius:4px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
.register:hover {
	background-color:#376D29;
	color:white;
}
.footer {
	margin-top:3%;
	padding:50px 0;
	text-align:center;
}





	